/*
	Styles for the boxes plugin
*/
.highlighted { 
	background-color:yellow!important;
	opacity:.4;
	filter:alpha(opacity=40);
}

.container { position:absolute; height:8px; cursor:pointer; border-collapse:collapse; }
.container .arrow_right { background: url('../img/sprites_small_models.png') 0px -112px; height:8px; width:5px; }
.container .arrow_left  { background: url('../img/sprites_small_models.png') 0px -122px; height:8px; width:5px; }
.container .title {	font-family:arial, verdana, helvetica; font-size:10px; height:10px; padding:0px 4px;}
.container .body { height:8px; }
.container .body .model { height:8px; position:relative; }
.container .body .model .component { height:8px; position:absolute; top:0px; }

.label {
	padding-left  : 2px;
	padding-right : 2px;
	font-family : arial,helvetica,monospace;
}
.arrowLeft  { background: url('../img/models/left.gif');  }
.arrowRight { background: url('../img/models/right.gif'); }

.mRNA,.rna_m            { background: url('../img/models/bar.gif') repeat-x; }
.five_prime_UTR,.utr_5  { background: url('../img/models/red.gif') repeat-x; }
.three_prime_UTR,.utr_3 { background: url('../img/models/red.gif') repeat-x; }
.CDS,.cds             { background: url('../img/models/green.gif') repeat-x; }

.ncRNA,.rna_nc  { background: url('../img/models/bar.gif') repeat-x; }
.tRNA,.rna_t   { background: url('../img/models/bar.gif') repeat-x; }
.snoRNA,.rna_sno { background: url('../img/models/bar.gif') repeat-x; }
.miRNA,.rna_mi  { background: url('../img/models/bar.gif') repeat-x; }
.snRNA,.rna_sn  { background: url('../img/models/bar.gif') repeat-x; }
.rRNA,.rna_r   { background: url('../img/models/bar.gif') repeat-x; }

.pseudogenic_exon       { background: url('../img/models/grey.gif') repeat-x; }
.pseudogenic_transcript { background: url('../img/models/bar.gif') repeat-x;  }

.line_above {background-color:rgb(144,100,100);}
.line_below {background-color:rgb(100,144,100);}

#repeats .cds, .mule { background: url('../img/models/orange.gif') repeat-x; }
#repeats .mRNA, .tr     { background: url('../img/models/purple.gif') repeat-x; }
#repeats .mask, .mask { background: url('../img/models/grey.gif')   repeat-x; }

.gi { font-family:arial, verdana, helvetica; font-size:10px; top:2px; border-bottom:dotted black 1px;}


/*
	Styles for the Solexa reads plugin (includes boxes of stacked reads and a histogram)
*/
.AJ_above .read {
	background-color:rgb(100,140,100);
	border:solid rgb(60,100,60) 1px;
}
.AJ_below .read {
	background-color:rgb(140,100,100);
	border:solid rgb(100,60,60) 1px;
}
.multi_mapper {
	opacity:.4;
	filter:alpha(opacity=40);
}
.multi_copies {
	border:solid black 1px !important;
}
.sm21mers {
	background-color:blue !important;
}
.sm22mers {
	background-color:green !important;
}
.sm23mers {
	background-color:orange !important;
}
.sm24mers {
	background-color:red !important;
}
.Others {
	background-color:yellow !important;
}


.A { 
	background-color:rgb(140,220,140);
	background-image:url('../img/bases/A.gif');
}
.T { 
	background-color:rgb(220,140,140);
	background-image:url('../img/bases/T.gif');
}
.C { 
	background-color:rgb(140,140,220);
	background-image:url('../img/bases/C.gif');
}
.G { 
	background-color:rgb(140,140,140);
	background-image:url('../img/bases/G.gif');
}
.N { 
	background-color:rgb(255,140,0);
	background-image:url('../img/bases/N.gif');
}

/*
	Styles for the WGTA track
*/
.AJ_xslider_bg {
	position:relative;
	height:16px;
	width:80px;
	background:url('../img/sprites_slider.png') 0px -1px;
}
.AJ_xslider_fg {
	position:absolute;
	top:0px;
	left:0px;
	background:url('../img/sprites_slider.png') 0px -18px;
	cursor:pointer;
	height:16px;
	width:14px;
}
.CG {
	background-color:rgb(180,180,100);
}
.CHH {
	background-color:rgb(180,150,150);
}
.CHG {
	background-color:rgb(100,100,180);
}
